@import "~bootstrap/scss/bootstrap.scss";

html, body, #root, #app {
    height: 100%;
}

#root-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#app {
    position: relative;
}

#icarus-flight-info {
    z-index: 2;
    position: absolute;
    top: 0;
    background-color: #efeff4;
    height: 100%;
    transition: width 0.5s;
}

.icarus-flight-info-inactive {
    width: 0px;
}

.icarus-flight-info-active {
    width: 17em;
}

#icarus-flight-info .icarus-flight-info-picture img {
    width: 100%;
}

#icarus-flight-info .panel-icon {
    background-color: rgb(221, 221, 221);
}

#icarus-flight-info .panel-data-title {
    text-transform: uppercase;
    color: #6d6d6d;
    font-size: 0.8em;
    font-family: monospace;
}

#icarus-flight-info .panel-data {
    font-size: 1em;
    font-family: monospace;
}

#icarus-flight-info .icarus-flight-info-row {
    border-bottom: 1px black solid;
}

#icarus-debug-info {
    z-index: 2;
    position: absolute;
    bottom:0px;
    right: 0px;
    background-color: white;
}

#icarus-playback {
    z-index: 3;
    position: absolute;
    bottom:0px;
    background-color: white;
}

.cursor-pointer {
    cursor: pointer;
}
